---
---

@import "{{ site.theme }}";

header, .site-header, footer, .site-footer {
  background-color: transparent !important;
}
.page-header, .page-footer {
  position: relative;
  z-index: 10;
}
.page-header{
    background-image:linear-gradient(to right, #d55d64 0%, #e49129 50%, #c0671c 100%);
    text-align: center; /* 中央揃えを維持 */
    padding-top: 15px; /* 上部余白 */
    padding-bottom: 5px; /* 下部余白を同じ値にすると下部余白が広くなる（フォントのせい？） */
    margin: 0 auto; /* 中央配置を維持 */
    height: auto;  /* 必要に応じて高さを自動調整, height: 50px; と指定してもよい*/ 
};
.main-content {
  /* width: 100%;  必要に応じて変更 */
  max-width: 1200px; /* 制限を広げる */
  /* padding: 20px; */
}
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6{
    color:#625793;
    font-weight: bold; /* ボールドタイプを適用 */
}
.project-name a,.project-name a:hover,.project-name a:visited{
    color: inherit;
}
table{
    width: 100%;
    border-collapse: collapse;
}

table tr{
    border-bottom: solid 2px white;
}

  table tr:last-child{
    border-bottom: none;
  }

  table th{
    position: relative;
    text-align: left;
    width: 30%;
    background-color: #b6b6b6;
    color: white;
    text-align: center;
    padding: 10px 0;
  }

  @media screen and (max-width: 768px) {
    header, .site-header, footer, .site-footer {
        background-color: transparent !important;
    }
}

body {
  background-color: white !important;
}